<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<sectionGroup name="devExpress">
			<section name="settings" type="DevExpress.Web.ASPxClasses.SettingsConfigurationSection, DevExpress.Web.v11.1, Version=11.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
			<section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v11.1, Version=11.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
			<section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v11.1, Version=11.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
			<section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v11.1, Version=11.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<!--Link For Develop Test-->
		<add key="Link_InqChgCust" value="http://localhost:52704/ChangeCustomerData/ManageData/Inquiry/Inquiry_RejectLetter.aspx" />
		<add key="Link_ChangeCust" value="http://localhost:52704/ChangeCustomerData/ManageData/WorkProcess/AddressForReject/AddressRej.aspx" />
		<!--Link For UAT Test-->
		<!--<add key="Link_InqChgCust" value="http://192.168.29.101/ChangeCustomerData/ManageData/Inquiry/Inquiry_RejectLetter.aspx"/>
    <add key="Link_ChangeCust" value="http://192.168.29.101/ChangeCustomerData/ManageData/WorkProcess/AddressForReject/AddressRej.aspx"/>-->
		<!--Link For Production-->
		<!--<add key="Link_InqChgCust" value="http://changecustdata/ChangeCustomerData/ManageData/Inquiry/Inquiry_RejectLetter.aspx"/>
    <add key="Link_ChangeCust" value="http://changecustdata/ChangeCustomerData/ManageData/WorkProcess/AddressForReject/AddressRej.aspx"/>-->
		<add key="Link_CSScreen" value="http://CSOperation/CSScreen/CSScreen/Home/Home.aspx" />
		<!--<add key="Link_CSScreen_test" value="http://192.168.29.101/CSScreen/CSScreen/Home/Home.aspx"/>-->
		<add key="Link_CSScreen_test" value="http://siam-web01-test/CSScreen/CSScreen/Home/Home.aspx" />
		<!-- FetchToken -->
		<add key="BuildToken_Url" value="http://dev-tokenserviceapi.nprod.cloud/api/Token/BuildToken"/>
		<add key="BuildToken_Username" value="pepssystem"/>
		<add key="BuildToken_Password" value="pepssystem"/>
		<add key="BuildToken_issuer" value="peps"/>
		<add key="BuildToken_role" value="user"/>
		<add key="BuildToken_expiresMinutes" value="1440"/>
		<!--<add key="PepServiceAPI" value="https://localhost:44330/"/>-->
		<add key="PepServiceAPI" value="http://pepserviceapi.dev.com"/>
		<!--BOT Report-->
		<add key="SSOTokenServiceAPIURL" value="http://dev-ssotokenserviceapi.dev.com/api" />
		<add key="AuthMenuAPIURL" value="http://172.26.231.35/AuthMenuAPI/v1" />
		<add key="SSOSignOutURL" value="http://dev-ssoscreen.dev.com" />
		<add key="SSOAPI" value="http://ssoserviceapi.dev.com/ssointernalapi/api" />
		<!--<add key="CustomerServiceAPIURL" value="http://customerserviceapi.dev.com/CustomerInternalAPI/api" />-->
		<!--Call API CUSTOMER_MSSQL_API-->
		<!--<add key="GeneralDataCenterAPIURL" value=" http://generalcenterapi.dev.com/generalCenterAPI/api" /> -->
		<!--Call API GENERAL_MSSQL_API-->
		<add key="CustomerServiceAPIURL" value="http://localhost:62091/api" />
		<add key="GeneralDataCenterAPIURL" value="http://localhost:62092/api" />
		<!-- Redis -->
		<add key="RedisHost" value="172.26.229.29" />
		<add key="RedisPort" value="11211" />
		<add key="RedisPassword" value="E@sybuy#123" />
		<add key="LocalSessionkey" value="UDI1MDEwMzlfMTAtMTAtMjAyMi0xNzoxNDoxOA==" />
		<!-- End Redis -->
		<!--End BOT Report-->
		<add key="OpenPopupCustInfoPage" value="resizable=yes,scrollbars=yes,status=yes,titlebar=yes,toolbar=no, location=yes,menubar=no,directories=no,left=0,top=0" />
		<add key="ThemeName" value="Aqua" />
		<add key="PathImgButton" value="~/ManageData/Images/" />
		<add key="IsAuthenticationMode" value="true" />
		<add key="AuthenticationBy" value="1" />
		
		<add key="BizforInitialLib" value="RL" />
		<add key="GeneralLib" value="GNTEST,ILTEST,RLTEST,CSTEST,SYTEST2" />
		<!--<add key="GeneralLib" value="RLTEST10,RLOD0001,RLOP0001,ILTEST10,ILOD0001,ILOP0001,PWTEST10,PWOD0001,PWOP0001,PMTEST10,PMOD0001,PMOP0001,CMTEST,CMOP0001,CMOD0001,HMTEST10,HMOD0001,HMOP0001,PLTEST10,PLOD0001,PLOP0001,HPTEST10,HPOD0000,HPOP0000,HPLIBR,PHTEST10,PHOD0001,PHOP0001,AETEST,AEOD0001,AEOP0001,GNTEST10,GNOP0000,GNOD0000,SYTEST2,SYOD0000,SYOP0000,CTTEST,CTOD0001,CTOP0001,CSTEST10,CSOD0001,CSOP0001,BLTEST,BLOD0000,ISTEST,ISOD0001,ISOP0001,PGSUPAWADE,GNTEST"/>-->
		<!--<add key="GeneralLib" value="RLTEST,RLOD0001,RLOP0001,ILTEST,ILOD0001,ILOP0001,PWTEST,PWOD0001,PWOP0001,PMTEST,PMOD0001,PMOP0001,CMTEST,CMOP0001,CMOD0001,HMTEST,HMOD0001,HMOP0001,PLTEST,PLOD0001,PLOP0001,HPTEST,HPOD0000,HPOP0000,HPLIBR,PHTEST,PHOD0001,PHOP0001,AETEST,AEOD0001,AEOP0001,GNTEST,GNOD0000,GNOP0000,SYTEST2,SYOD0000,SYOP0000,SYTEST,CTTEST,CTOD0001,CTOP0001,CSTEST,CSOD0001,CSOP0001,BLTEST,BLOD0000,ISTEST,ISOD0001,ISOP0001,PGSUPAWADE"/>-->
		<!--<add key="GeneralLib" value="RLOD0001,RLOP0001,CSOD0001,CSOP0001,SYOD0000,SYOP0000,BLOD0000,GNOD0000,GNOP0000,PLOD0001,PLOP0001,PHOD0001,PHOP0001,HMOD0001,HMOP0001,CMOD0001,CMOP0001,PMOD0001,PMOP0001,PWOD0001,PWOP0001,ILOD0001,ILOP0001,HPOP0000,HPOD0000,HPLIBR,ISOD0001,ISOP0001"/>-->
		<!--<add key="GeneralLib" value=""/>-->
		<add key="GNLib" value="" />
		<add key="SystemLib" value="" />
		<add key="SystemTestLib" value="" />
		<add key="CSLib" value="" />
		<add key="CTLib" value="" />
		<add key="ILLib" value="" />
		<add key="HMLib" value="" />
		<add key="PHLib" value="" />
		<add key="PLLib" value="" />
		<add key="PMLib" value="" />
		<add key="PWLib" value="" />
		<add key="RLLib" value="" />
		<add key="HPLib" value="" />
		<add key="HPLibR" value="" />
		<add key="HPLibBR101" value="" />
		<add key="HPLibBR102" value="" />
		<add key="HPLibBR103" value="" />
		<add key="HPLibBR201" value="" />
		<add key="HPLibBR202" value="" />
		<add key="HPLibBR210" value="" />
		<add key="HPLibBR301" value="" />
		<add key="HPLibBR302" value="" />
		<add key="HPLibBR401" value="" />
		<add key="QTempLib" value="" />
		<add key="GNPGMLib" value="" />
		<add key="CSPGMLib" value="" />
		<add key="ILPGMLib" value="" />
		<add key="HMPGMLib" value="" />
		<add key="PHPGMLib" value="" />
		<add key="PLPGMLib" value="" />
		<add key="PMPGMLib" value="" />
		<add key="PWPGMLib" value="" />
		<add key="RLPGMLib" value="" />
		<add key="HPPGMLib" value="" />
		<add key="DataGridImagesPath" value="/UserControls/DataGridEx/Images" />
		<!--<add key="reportDatabaseName" value="D104KPLM"/>-->
		<add key="reportDatabaseName" value="B104KPLM" />
		<add key="reportServerName" value="192.168.4.3" />
		<add key="AS400PrinterName" value="PRTSYS" />
		<add key="CrystalImageCleaner-AutoStart" value="true" />
		<add key="CrystalImageCleaner-Sleep" value="60000" />
		<add key="CrystalImageCleaner-Age" value="120000" />
		<!-- About Upload File Support Info.-->
		<add key="MaxFileSizeUpload" value="1048576" />
		<!--Unit in bytes  1 Mb = 1024*1024-->
		<!--About User Agent from IL System-->
		<add key="PortalID_ILSystem" value="27" />
		<!--<add key="Mode" value="U"/>-->
		<add key="MaximumSeq" value="48" />
		<add key="MaximumTerm" value="48" />
		<add key="MaximumBaseRate" value="1.30" />
		<add key="DefaultIntRate" value="0.68" />
		<add key="apiCompanyBlacklist" value="http://dev-compblacklistapi.dev.com/api" />
		<add key="ADDomain" value="DEV.COM" />
	</appSettings>
	<connectionStrings>
		<!--<add name="iSeries400ConnectionString" connectionString="DataSource={0};UserID={1};Password={2};SchemaSearchList={3};LibraryList={3},*USRLIBL; Naming=System;ConnectionTimeout=30;CheckConnectionOnOpen=true;AllowUnsupportedChar=true;" providerName="IBM.Data.DB2.iSeries"/>-->
		<add name="iSeries400ConnectionString" connectionString="DataSource={0};UserID={1};Password={2};DefaultCollection={3};LibraryList={3},*USRLIBL; Naming=System;ConnectionTimeout=30;CheckConnectionOnOpen=true;" providerName="IBM.Data.DB2.iSeries" />
		<add name="MSSQLConnection" connectionString="Data Source=192.168.115.224; Initial Catalog=master; TrustServerCertificate=True; Persist Security Info=True; User ID=esbdbdev; Password=E@sybuy#D$V; Column Encryption Setting=enabled;" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.6.1" />
		<authentication mode="Forms">
			<forms loginUrl="http://dev-ssoscreen.dev.com/login" timeout="120"/>
			<!--BOT Report-->
			<!--<forms loginUrl="DesktopService\Login\Login.aspx" defaultUrl="Default.aspx" timeout="120"/>-->
		</authentication>
		<httpRuntime targetFramework="4.6.1" />
		<httpModules>
			<add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v11.1, Version=11.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
		</httpModules>
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules>
			<add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v11.1, Version=11.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
		</modules>
	</system.webServer>
	<devExpress>
		<settings rightToLeft="false" />
		<compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="false" />
		<themes enableThemesAssembly="true" />
		<errors callbackErrorRedirectUrl="" />
	</devExpress>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>